*{
  transition:all .5s; 
}
body {
  margin: 0;
  padding: 50px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
  display: flex;
  justify-content:space-between;
  padding: 20px;
  border: 1px solid #eee
}


#askForHelp {
  display: flex;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  padding: 50px;
}

#askForHelp input {
  font-size: 24px;
  width: 100%;
}

.profile{
  display:flex;
  border-top:    1px solid  #555;
  /*border-bottom: 1px solid #555; */
  justify-content:space-between;
  align-items: center;
  font-size: 20px;
}

i{
  font-size: 10px;
  display:block;
  margin-top: 5px;
  justify-content: flex-start;
  align-items: center;
  display:flex;

}
i img{
  width: 20px;
  padding-right: 5px;
}

/* i:nth-child(1)::after{
  content: 'points';
  padding: 3px;
} */

i:nth-child(2)::before{

}

nav{ 
  background:#eee;
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  height: 100px;
}




nav a {
  color:#008eff;
  font-size: 24px;
  text-decoration:none;
  border: 1px solid black;
  height:100%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:10px solid black;
}

nav a:hover{
  text-decoration:underline;
  background:#ccc;
}

.post .details{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}